/**VARIABLES COLORES**/
/**OPERACIONES**/
.fondoTituloContacto {
  background-image: url(../img/contacto/fondocontacto.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }

.contacto {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; }
  .contacto .contacto__form {
    margin-right: 20px;
    margin-bottom: 20px; }
    .contacto .contacto__form .forminputs {
      width: 70%;
      margin-top: .5rem;
      border-radius: 5px; }
  .contacto .contacto__maps {
    margin-left: 20px; }
    .contacto .contacto__maps div iframe {
      width: 100%;
      height: 450px; }

.newsLetter {
  margin-bottom: 30px;
  margin-top: 40px; }
  .newsLetter div .forminputs {
    width: 30%; }
  .newsLetter div p span {
    margin-right: 5px;
    font-size: 30px; }

.fondoTituloEspirituosas {
  background-image: url(../img/spirits/fondoespirituosas.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; }

.gridEspirituosas__texto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 40px;
  align-content: center;
  justify-content: center; }

.gridEspirituosas__images {
  width: 80%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
  margin: 0 auto; }

.gridEspirituosas__images--size {
  width: 70%; }

.gridEspirituosas__texto__listaSquareInside {
  list-style-type: none;
  list-style-position: outside;
  text-align: center; }
  .gridEspirituosas__texto__listaSquareInside li {
    margin-top: 5px; }

.fondoTituloPromociones {
  background-image: url(../img/promos/fondopromos2.jfif);
  background-size: cover;
  width: 100%;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }

.promos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.promos__fotos {
  width: 30%;
  min-width: 320px;
  height: 500px;
  padding: 15px; }

.fondoTituloVinos {
  background-image: url(../img/vinos/fondovino2.jpg);
  background-position: center;
  width: 100%;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px; }

.vinos .vinos__infoImagenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px; }
  .vinos .vinos__infoImagenes img {
    width: 100%;
    height: 350px; }
  .vinos .vinos__infoImagenes iframe {
    width: 100%;
    height: 350px; }

.vinos .vinos__definicion {
  font-size: .9rem; }

.vinos hr {
  margin: 30px 0px 30px 0px;
  height: 2px;
  background-color: black; }

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center; }
  .footer .footer__redes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 0rem;
    background-color: #3a2114;
    color: white;
    font-size: .9rem; }
    .footer .footer__redes div a span {
      margin-right: 2rem;
      margin-bottom: 10px;
      margin-top: 10px;
      color: #d3c471;
      font-size: 30px;
      transition: all .3s; }
    .footer .footer__redes div a span:hover {
      color: #ffee00;
      transform: scale(1.3);
      transition: all .3s; }
  .footer .footer__icontop .back_to_top {
    color: #d3c471;
    font-size: 3rem;
    position: absolute;
    right: 1rem;
    scroll-behavior: smooth;
    transition: all .3s; }
    .footer .footer__icontop .back_to_top :hover {
      color: #ffee00;
      animation: arrowup 1s linear 0s infinite;
      transition: all .3s; }

@keyframes arrowup {
  0% {
    transform: translateY(5px); }
  25% {
    transform: translateY(-5px); }
  50% {
    transform: translateY(5px); }
  75% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(5px); } }

.header__barrasuperior {
  background: linear-gradient(180deg, #1f120b 0%, #3a2114 25%, #924921 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

/*******ADAPTACION DEL NAVBAR DE BOOTSTRAP***********/
.header__navega {
  background-color: #924921; }

.container-fluid {
  width: 70%; }

.dropdown-item {
  text-align: center; }

.navbar-light .navbar-toggler {
  background-color: #ffe44e;
  color: #ffe44e;
  border-color: #ffe44e; }

.navbar-light .navbar-nav .nav-link.active {
  border-bottom: solid 2px;
  color: white; }

.navbar-light .navbar-nav .nav-link {
  color: white; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffee00; }

.navbar-nav {
  display: flex;
  width: 100%;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .navbar-nav li {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    justify-content: center; }

/******* FIN ADAPTACION DEL NAVBAR DE BOOTSTRAP***********/
#header__logo {
  width: 8rem;
  padding: 10px; }

#header__logonav {
  width: 3rem;
  padding: 1px;
  display: none; }

#header__logowebhome {
  animation: translatelogoweb 1s linear .2s; }

@keyframes translatelogoweb {
  0% {
    transform: translateX(100px); }
  100% {
    transform: translateX(0px); } }

/* inicio clases generales */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  box-sizing: border-box; }

.contenedor {
  width: 93%;
  margin: 0 auto; }

main {
  margin: 0rem; }

p {
  line-height: 1.7rem; }

h1 {
  color: #e1ec46;
  font-size: 2.4rem;
  font-weight: 600;
  font-style: oblique;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-text-stroke: 2px black; }

.textoDerecha {
  text-align: right; }

.center {
  text-align: center; }

.margintopbott {
  margin-top: 30px;
  margin-bottom: 40px; }

section article p, section p {
  text-align: justify; }

h2 {
  margin-top: 25px;
  margin-bottom: 25px; }

h3 {
  margin-top: 15px;
  margin-bottom: 15px; }

h4 {
  margin-top: 10px;
  margin-bottom: 10px; }

/* fin clases generales */
/************** INDEX *********************/
.fondoTituloHome {
  background-image: url(../img/home/fondohome2.jpg);
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }

.descarga {
  width: 100%;
  display: flex;
  justify-content: center; }
  .descarga .descarga__bot {
    margin: 0px 30px;
    background-color: #924921;
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 2px solid black; }
    .descarga .descarga__bot i {
      margin-right: 5px; }
  .descarga .descarga__bot:hover {
    color: #ffee00; }

.carouselSize div img {
  height: 90%;
  width: 90%; }

.flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: center;
  margin: 40px auto; }
  .flex p {
    width: 40%;
    margin: 30px;
    line-height: 30px;
    text-align: justify; }

#imghome1 {
  width: 40%; }

#imghome2 {
  width: 40%; }

#iframeindex {
  width: 40%;
  height: 300px; }

/*****************************MEDIA QUERYS***************************************/
/*****************************MEDIA QUERYS***************************************/
@media only screen and (max-width: 767px) {
  .activo {
    text-decoration: underline;
    color: white; }
  .header__barrasuperior {
    background-color: #3a2114;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .footer .footer__redes {
    height: 8rem;
    padding: 0rem;
    background-color: #3a2114;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
  section article img {
    width: 100%; }
  section iframe {
    width: 100%; }
  .flex {
    justify-content: center; }
    .flex p {
      width: 100%;
      margin: 30px;
      line-height: 30px;
      text-align: justify; }
  #header__logo {
    display: none; }
  #header__logonav {
    width: 6rem;
    padding: 2px;
    display: flex; }
  .carouselSize div img {
    height: 100%;
    width: 100%; }
  #imghome1 {
    width: 100%; }
  #imghome2 {
    width: 100%; }
  #iframeindex {
    width: 100%;
    height: 300px; }
  /***********pagina Espirituosas***********/
  .gridEspirituosas__texto {
    grid-template-columns: 1fr; }
  .gridEspirituosas__images {
    grid-template-columns: 1fr 1fr; }
  /********************* VINOS **************/
  .vinos .vinos__infoImagenes {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
    height: auto; }
  .img-fluid {
    margin: 10px 0px; }
  /**************PAGINA CONTACTO ************/
  .contacto__form {
    margin-right: 15px;
    margin-bottom: 25px; }
  .contacto__maps {
    margin-left: 15px;
    margin-bottom: 25px; }
  .newsLetter {
    margin-bottom: 20px;
    margin-top: 10px; }
    .newsLetter div .forminputs {
      width: 70%; }
  /*****footer**********/
  .footer .footer__icontop .back_to_top {
    animation: arrowup 2s linear 0s infinite;
    transition: all .3s;
    color: #ffee00;
    font-size: 2.2rem; }
    .footer .footer__icontop .back_to_top :hover {
      animation: disabled; } }

/**************************480px**********************/
@media only screen and (max-width: 480px) {
  .activo {
    text-decoration: underline;
    color: white; }
  .header__barrasuperior {
    background-color: #3a2114;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 50px; }
  .footer .footer__redes {
    height: 8rem;
    padding: 0rem;
    background-color: #3a2114;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
  .footer .footer__icontop .back_to_top {
    font-size: 2rem;
    color: #ffee00; }
  /****************INDEX*******************/
  #header__logowebhome {
    animation: translatelogoweb 1s linear .2s; }
  @keyframes translatelogoweb {
    0% {
      transform: scale(1); }
    50% {
      transform: scale(1.2); }
    100% {
      transform: scale(1); } }
  #header__logo {
    display: none; }
  #header__logonav {
    width: 5rem;
    padding: 2px;
    display: flex; }
  .flex p {
    width: 100%;
    margin: 10px;
    line-height: 30px;
    text-align: justify; }
  section article img {
    width: 100%; }
  section iframe {
    width: 100%; }
  /*********** pagina Contacto**************/
  .contacto__form {
    margin-right: 15px;
    margin-bottom: 25px; }
  .contacto__maps {
    margin-left: 15px;
    margin-bottom: 25px; }
  .newsLetter {
    margin-bottom: 20px;
    margin-top: 10px; }
    .newsLetter div .forminputs {
      width: 80%; }
  /******* Fin pagina Contacto ****/
  /*************** Pagina Espirituosas****************/
  .gridEspirituosas__texto {
    grid-template-columns: 1fr; }
  .gridEspirituosas__images {
    grid-template-columns: 1fr; } }
