@charset "UTF-8";
/**VARIABLES COLORES**/
/**OPERACIONES**/
.fondoTituloContacto {
  background-image: url(../img/contacto/fondocontacto.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }
  .fondoTituloContacto .fondoTituloContacto__div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 11, 11, 0.5); }

.contacto {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 1.2rem;
  gap: 10px; }
  .contacto .contacto__form {
    margin-right: 20px;
    margin-bottom: 20px;
    min-width: 43%; }
    .contacto .contacto__form .forminputs {
      width: 70%;
      margin-top: .5rem;
      border-radius: 5px; }
  .contacto .contacto__maps {
    margin-left: 20px;
    min-width: 43%; }
    .contacto .contacto__maps div iframe {
      width: 100%;
      height: 450px; }

.newsLetter {
  margin-bottom: 30px;
  margin-top: 40px; }
  .newsLetter div .forminputs {
    width: 30%; }
  .newsLetter div p span {
    margin-right: 5px;
    font-size: 30px; }

.fondoTituloEspirituosas {
  background-image: url(../img/spirits/fondoespirituosas.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; }
  .fondoTituloEspirituosas .fondoTituloEspirituosas__div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 11, 11, 0.5); }

.gridEspirituosas__texto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 40px;
  align-content: center;
  justify-content: center;
  line-height: 30px; }

.gridEspirituosas__texto__listaSquareInside {
  list-style-type: none;
  list-style-position: outside;
  text-align: center; }
  .gridEspirituosas__texto__listaSquareInside li {
    margin-top: 5px; }

.accordion-item {
  background-color: transparent;
  border: none; }

.accordion-button {
  background-color: transparent; }

.accordion-button:not(.collapsed) {
  color: black;
  background-color: transparent; }

.accordion-button:focus {
  border-color: #05070a;
  outline: 0;
  box-shadow: none; }

.accordion-body ul {
  padding-top: 0.5rem; }

.accordion-body p {
  text-align: justify; }

.recetasVideo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0px; }
  .recetasVideo p {
    width: 40%;
    margin: 0px 15px 15px 15px;
    line-height: 30px;
    text-align: justify; }

.recetas {
  background-color: #e7e7e7;
  padding: 30px; }
  .recetas div details {
    margin: 5px 0px; }
  .recetas h2 {
    text-align: center; }

.fondoTituloPromociones {
  background-image: url(../img/promos/fondopromos2.jfif);
  background-size: cover;
  width: 100%;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }
  .fondoTituloPromociones .fondoTituloPromociones__div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 11, 11, 0.5); }

.promos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.promos__fotos {
  width: 30%;
  min-width: 320px;
  height: 500px;
  padding: 15px; }

.fondoTituloVinos {
  background-image: url(../img/vinos/fondovino2.jpg);
  background-position: center;
  width: 100%;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px; }
  .fondoTituloVinos .fondoTituloVinos__div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 11, 11, 0.5); }

.vinos .vinos__infoImagenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  justify-items: center; }
  .vinos .vinos__infoImagenes img {
    width: 90%;
    height: 90%;
    border-radius: 5%; }
  .vinos .vinos__infoImagenes iframe {
    width: 90%;
    height: 350px;
    border-radius: 5%; }

.vinos .vinos__definicion {
  font-size: .9rem; }

.vinos hr {
  margin: 30px 0px 30px 0px;
  height: 2px;
  background-color: black; }

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center; }
  .footer .footer__redes {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 0rem;
    background-color: #000000;
    color: white;
    font-size: .9rem; }
    .footer .footer__redes div a span {
      margin-right: 2rem;
      margin-bottom: 10px;
      margin-top: 10px;
      color: #d3c471;
      font-size: 30px;
      transition: all .3s; }
    .footer .footer__redes div a span:hover {
      color: #c52e29;
      transform: scale(1.3);
      transition: all .3s; }
  .footer .footer__icontop .back_to_top {
    color: #d3c471;
    font-size: 3rem;
    position: absolute;
    right: 1rem;
    scroll-behavior: smooth;
    transition: all .3s; }
    .footer .footer__icontop .back_to_top:hover {
      color: #c52e29;
      animation: arrowup 1s linear 0s infinite;
      transition: all .3s; }

@keyframes arrowup {
  0% {
    transform: translateY(5px); }
  25% {
    transform: translateY(-5px); }
  50% {
    transform: translateY(5px); }
  75% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(5px); } }

.header__barrasuperior {
  background: #0a0a0a; }

/*******ADAPTACION DEL NAVBAR DE BOOTSTRAP***********/
.dropdown-item {
  text-align: center; }

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/hamburg2.png);
  width: 2.5em;
  height: 2.5em; }

.navbar-light .navbar-toggler {
  color: #e03333; }

.navbar-light .navbar-toggler:focus {
  box-shadow: none; }

.navbar-light .navbar-nav .nav-link.active {
  color: #e03333; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  background-image: linear-gradient(red, #c52e29);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }

.navbar-light .navbar-nav .nav-link:hover {
  background-size: 100% 2px;
  color: white; }

.navbar-nav {
  display: flex;
  width: 100%;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .navbar-nav li {
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    justify-content: center;
    padding: 0px 6px; }

.navbar-collapse {
  flex-grow: 0; }

/******* FIN ADAPTACION DEL NAVBAR DE BOOTSTRAP***********/
#header__logo {
  width: 8rem;
  padding: 10px; }

/* inicio clases generales */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  box-sizing: border-box; }

.contenedor {
  width: 93%;
  margin: 0 auto; }

main {
  margin: 0rem; }

p {
  line-height: 1.7rem; }

h1 {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
  font-style: oblique;
  text-transform: uppercase; }

.textoDerecha {
  text-align: right; }

.center {
  text-align: center; }

.margintopbott {
  margin-top: 30px;
  margin-bottom: 40px; }

section article p {
  text-align: justify; }

h2 {
  margin-top: 25px;
  margin-bottom: 25px; }

/* fin clases generales */
/************** INDEX *********************/
.fondoTituloHome {
  background-image: url(../img/home/fondohome.jpg);
  background-position: center;
  width: 100%;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }
  .fondoTituloHome .fondoTituloHome__div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 11, 11, 0.5); }

#HomeH1Anim {
  animation: translateh1 1s linear .2s; }

@keyframes translateh1 {
  0% {
    transform: translateX(100px); }
  100% {
    transform: translateX(0px); } }

.quienesSomos {
  margin: 50px 0px; }

.descarga {
  width: 100%;
  display: flex;
  justify-content: center; }
  .descarga .descarga__bot {
    margin: 0px 30px;
    background-color: #e7e7e7;
    padding: 5px;
    text-decoration: none;
    color: white;
    border: 2px solid black; }
    .descarga .descarga__bot i {
      margin-right: 5px; }
  .descarga .descarga__bot:hover {
    color: #c52e29; }

.carouselSize div img {
  height: 90%;
  width: 90%; }

.mediosContenedor {
  display: flex;
  justify-content: center; }
  .mediosContenedor .mediosContenedor__flexTarjetas {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px; }
    .mediosContenedor .mediosContenedor__flexTarjetas .mediosContenedor__flexTarjetas--tarjetas {
      width: 45%;
      min-width: 300px;
      margin: 20px 10px; }

#iframeindex {
  width: 40%;
  height: 300px; }

.envios {
  background-color: #e7e7e7; }
  .envios .envios__titulo {
    text-align: center;
    padding-top: 20px; }
  .envios .envios__imag {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap; }
    .envios .envios__imag .envios__imag--div {
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: black 0px 5px 15px;
      width: 30%;
      margin-bottom: 25px; }
      .envios .envios__imag .envios__imag--div img {
        width: 100%;
        height: 100%; }

.tituloProductos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  width: 100%;
  height: 80px;
  margin: 30px 0px; }

.productos {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 5px;
  width: 100%; }
  .productos .productos__box {
    width: 13rem;
    text-align: center; }
    .productos .productos__box:hover {
      box-shadow: black 0px 3px 10px;
      border-radius: 1rem;
      overflow: hidden; }
    .productos .productos__box .productos__box--img {
      width: 100%; }
    .productos .productos__box .productos__box--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      height: 6rem; }
    .productos .productos__box .productos__box--comprar {
      display: flex;
      flex-flow: column nowrap;
      align-content: center;
      align-items: center;
      justify-content: flex-end;
      height: 4rem;
      margin-bottom: 1rem; }
      .productos .productos__box .productos__box--comprar .productos__box--btn {
        text-decoration: none;
        background-color: #252020;
        border-radius: 10px;
        color: white;
        padding: 8px;
        transition: all .3s; }
        .productos .productos__box .productos__box--comprar .productos__box--btn:hover {
          background-color: #c52e29;
          transition: all .4s; }

.selector {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 8px 0px; }
  .selector .selector__paginas {
    list-style: none;
    display: flex; }
    .selector .selector__paginas .selector__paginas--actual {
      color: #e03333; }
    .selector .selector__paginas li {
      margin-right: 5px; }
      .selector .selector__paginas li a {
        text-decoration: none;
        color: black; }

/*****************************MEDIA QUERYS***************************************/
/*****************************MEDIA QUERYS***************************************/
/*****************************MEDIA QUERYS***************************************/
@media only screen and (max-width: 767px) {
  section article img {
    width: 100%; }
  section iframe {
    width: 100%; }
  .carouselSize div img {
    height: 100%;
    width: 100%; }
  #iframeindex {
    width: 100%;
    height: 300px; }
  /***********pagina Espirituosas***********/
  .gridEspirituosas__texto {
    grid-template-columns: 1fr; }
  .gridEspirituosas__images {
    grid-template-columns: 1fr 1fr; }
  .recetasVideo {
    justify-content: center; }
    .recetasVideo p {
      width: 100%;
      line-height: 30px;
      text-align: justify; }
  /********************* VINOS **************/
  .img-fluid {
    margin: 10px 0px; }
  .productos {
    grid-template-columns: 1fr 1fr; }
    .productos .productos__box {
      width: 13rem; }
  /**************PAGINA CONTACTO ************/
  .contacto .contacto__form {
    margin-right: 0px;
    margin-bottom: 25px; }
  .contacto .contacto__maps {
    margin-left: 0px;
    margin-bottom: 25px; }
  .newsLetter {
    margin-bottom: 20px;
    margin-top: 10px; }
    .newsLetter div .forminputs {
      width: 70%; }
  /*****footer**********/
  .footer .footer__icontop .back_to_top {
    animation: arrowup 2s linear 0s infinite;
    transition: all .3s;
    color: #c52e29;
    font-size: 2.2rem; }
    .footer .footer__icontop .back_to_top:hover {
      animation: disabled; }
  .footer .footer__redes {
    display: flex;
    flex-flow: column wrap;
    height: 8rem;
    font-size: 0.9rem; } }

/**************************480px**********************/
@media only screen and (max-width: 480px) {
  .fondoTituloHome, .fondoTituloVinos, .fondoTituloEspirituosas, .fondoTituloPromociones, .fondoTituloContacto {
    height: 175px; }
  h1 {
    font-size: 2.2rem; }
  .footer .footer__redes {
    font-size: 0.8rem; }
    .footer .footer__redes div p {
      margin-left: 8px; }
  .footer .footer__icontop .back_to_top {
    font-size: 2rem;
    color: #c52e29; }
  /****************INDEX*******************/
  /******Menu Hamburguesa mas pequeño******/
  .navbar-light .navbar-toggler-icon {
    width: 2em; }
  /******Menu Hamburguesa mas pequeño******/
  #HomeH1Anim {
    animation: translateh1 1s linear .2s; }
  @keyframes translateh1 {
    0% {
      transform: scale(1); }
    50% {
      transform: scale(1.2); }
    100% {
      transform: scale(1); } }
  section article img {
    width: 100%; }
  section iframe {
    width: 100%; }
  .mediosContenedor .mediosContenedor__flexTarjetas {
    margin-top: 0px; }
    .mediosContenedor .mediosContenedor__flexTarjetas .mediosContenedor__flexTarjetas--tarjetas {
      width: 90%;
      margin: 20px 0px; }
  /*********** pagina Contacto**************/
  .newsLetter {
    margin-bottom: 20px;
    margin-top: 10px; }
    .newsLetter div .forminputs {
      width: 80%; }
  /******* Fin pagina Contacto ****/
  /*************** Pagina Espirituosas****************/
  .gridEspirituosas__texto {
    grid-template-columns: 1fr;
    grid-gap: 2px; }
  .gridEspirituosas__images {
    grid-template-columns: 1fr; }
  .recetasVideo p {
    line-height: 30px;
    text-align: justify; }
  /**************pagina vinos***************/
  .vinos .vinos__infoImagenes {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-content: center;
    height: auto; }
    .vinos .vinos__infoImagenes img {
      width: 95%; }
    .vinos .vinos__infoImagenes iframe {
      width: 95%;
      height: 250px; }
  .productos {
    display: grid;
    grid-template-columns: 1fr; } }
