.fondoTituloContacto{
    background-image: url(../img/contacto/fondocontacto.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: $anchoDivTitulo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
        .fondoTituloContacto__div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgba(179, 11, 11, 0.5);
            }
}
.contacto{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly ;
    padding-top: 1.2rem;
        .contacto__form{
        margin-right: 20px;
        margin-bottom: 20px;
            .forminputs{
            width: 90%;
            margin-top: .5rem;
            border-radius: 5px;
            }
        }
        .contacto__maps{
            margin-left: 20px;
            div iframe{
                width: 100%;
                height: 450px;
            }
        }
}
.newsLetter{
    margin-bottom:30px;
    margin-top:40px;
        div{
            .forminputs{
            width: 30%;
            }
            p span{
                margin-right: 5px;
                font-size: 30px;
            }
        }
 }
 
