
.fondoTituloEspirituosas{
    background-image: url(../img/spirits/fondoespirituosas.jpg);
    background-position:center;
    background-size: cover;
    width: 100%;
    height: $anchoDivTitulo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}

.gridEspirituosas__texto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap:40px;
    align-content: center;
    justify-content: center;
}

.gridEspirituosas__texto__listaSquareInside {
    list-style-type: none ;
    list-style-position:outside;
    text-align: center;
        li{
            margin-top:  5px;
        }
}



