.footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    .footer__redes{
        display: flex ;
        flex-flow: column nowrap;
        justify-content:center;
        align-items:center;
        width: 100%;
        height: 6rem;
        padding: 0rem;
        background-color:#000000;
        color:white;
        font-size:.9rem;
            div a {
                span{
                    margin-right: 2rem;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    color:$amarillo;
                    font-size: 30px;
                    transition: all .3s;}
                
                span:hover{
                    color: $colorhover;
                    transform:scale(1.3);
                    transition: all .3s;}
             }
     }
    .footer__icontop {
        .back_to_top{
            color: #d3c471 ;
            font-size: 3rem;
            position: absolute;
            right: 1rem;
            scroll-behavior: smooth;
            transition: all .3s;
            &:hover{     
                color:$colorhover;
                animation: arrowup 1s linear 0s infinite; 
                transition: all .3s;}
                }
    }
}
@keyframes arrowup {
    0% {transform: translateY(5px);}
    25% {transform: translateY(-5px);}
    50% {transform: translateY(5px);}
    75% {transform: translateY(-5px);}
    100% {transform: translateY(5px);}
    }





