.header__barrasuperior{
    background:rgb(10, 10, 10);
 
}
 /*******ADAPTACION DEL NAVBAR DE BOOTSTRAP***********/
 
 .dropdown-item {
    text-align: center;
 }
.navbar-light {

    .navbar-toggler {
    background-color: $colornavegadoritems;
    color: $colornavegadoritems;
    }
    .navbar-toggler:focus{
            box-shadow:none;
        }
    .navbar-nav{
        .nav-link.active {
            color: $colornavegadoritems;
            }
        .nav-link {
                color: $colornavegadoritemsactivo;
                background-image: linear-gradient(red, $colorhover);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
            
            
            }
        .nav-link:hover {
                background-size: 100% 2px;
                color:$colornavegadoritemsactivo;
                 }
     }
}
.navbar-nav {
    display: flex;
    width: 100%;
    list-style: none;
    text-align: center;
    justify-content: center ;
    align-items: center;
        li{
        display: flex;
        width: 100%;
        font-size: 1.2rem;
        justify-content: center;
        padding: 0px 6px;
    } 
 } 

 .navbar-collapse {
        flex-grow: 0;
 }

 /******* FIN ADAPTACION DEL NAVBAR DE BOOTSTRAP***********/
 #header__logo {
    width: 8rem;
    padding: 10px;
}






 
 