.fondoTituloPromociones{
    background-image: url(../img/promos/fondopromos2.jfif);
    background-size: cover;
    width: 100%;
    height: $anchoDivTitulo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
        .fondoTituloPromociones__div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgba(179, 11, 11, 0.5);
            }
 }
.promos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.promos__fotos{
    width:30%;
    min-width: 320px;
    height: 500px;
    padding: 15px;
}