/**VARIABLES COLORES**/

$amarillo:#d3c471;
$colorhover:#ffee00;
$colorh1:rgb(225, 236, 70);

$colornavegador:#924921;
$colornavegadoritems:#ffe44e;
$colornavegadoritemsactivo: white;


/**OPERACIONES**/

$ancho93: 93%;
$anchoDivTitulo:175px; 