/**VARIABLES COLORES**/
$amarillo:#d3c471;
$colorhover:#c52e29;
$colorh1:rgb(255, 255, 255);
$colornavegador: rgb(231, 231, 231);
$colornavegadoritems:#ffffff;
$colornavegadoritemsactivo: rgb(0, 0, 0);
$colorhamburguesaborde:#98989a;

/**OPERACIONES**/
$ancho93: 93%;
$anchoDivTitulo:175px; 