@import "variables";
@import "contacto";
@import "espirituosas";
@import "promociones";
@import "vinos";
@import "footer";
@import "header";

 /* inicio clases generales */
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
  }
body{
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
  }
.contenedor{
      width: $ancho93;
      margin: 0 auto;
    }
  main{
      margin: 0rem;
  }
    p{
      line-height: 1.7rem;
  }
  h1 {
      color:$colorh1;
      font-size: 2.4rem;
      font-weight: 600;
      font-style: oblique;
      text-transform: uppercase;
    }
  
  .textoDerecha{
      text-align: right;
  }
  .center{
      text-align: center;
  }
  .margintopbott{
      margin-top: 30px;
      margin-bottom: 40px;
  }
  section article p{
      text-align: justify;
  }
  h2{
      margin-top: 25px;
      margin-bottom:25px;
  }
      
  /* fin clases generales */
  
  /************** INDEX *********************/
  .fondoTituloHome{
    background-image: url(../img/home/fondohome.jpg);
    background-position:center;
    width: 100%;
    height: $anchoDivTitulo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
        .fondoTituloHome__div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(179, 11, 11, 0.5);
        }
  }


#HomeH1Anim{
  animation: translateh1 1s linear .2s;
}
 @keyframes translateh1 {
  0% {transform: translateX(100px);}
  100% {transform: translateX(0px);}
}


.quienesSomos{
    margin: 50px 0px;
  }
.descarga {
    width: 100%;
    display: flex;
    justify-content: center;
       .descarga__bot{
          margin: 0px 30px;
          background-color: $colornavegador;
          padding:  5px;
          text-decoration: none;
          color:white;
          border: 2px solid black;
              i{
                  margin-right: 5px;
              }
          }
        .descarga__bot:hover {
            color:$colorhover ;
        }  
}

.carouselSize div img{
    height: 90%;
    width: 90%;
   }

.flexTarjetas{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin:40px 0px;
}

#iframeindex{
    width: 40%;
    height: 300px;
}

.tarjetas{
    min-width: 300px;
    margin: 20px 10px;
}
.envios{
  background-color:$colornavegador;
    .envios__titulo{
      text-align: center;
      padding-top: 20px;
    }
    .envios__imag{
      display: flex;
      justify-content: space-evenly;
      flex-flow: row nowrap;
          img{
            width: 26%;
            border-radius: 70%;
            padding: 30px 0px;
          }
    }
  }

 // compartido vinos y espirituosas//
 .tituloProductos{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colornavegador;
  width: 100%;
  height: 80px;
  margin:30px 0px;
}

 .productos{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 5px;
  width: 100%;
 
  .productos__box{
      width: 10rem;
      text-align: center;
      
      .productos__box--img{
          width: 100%;
      }
      .productos__box--item {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px;
          }
      .productos__box--btn{
          text-decoration: none;
          background-color:rgb(37, 32, 32) ;
          border-radius: 10px;
          color:white;
          padding: 8px;
          transition: all .3s;
              &:hover{
                  background-color: $colorhover;
                  transition: all .4s;
              }
      }

  }
}
// compartido vinos con espirituosas

  /*****************************MEDIA QUERYS***************************************/
  /*****************************MEDIA QUERYS***************************************/
  
@media only screen and (max-width: 767px) {
      
     
        section article img{
                width: 100%;
        }
        section iframe{
                width: 100%;
        }
                        
        .carouselSize div img{
        height: 100%;
        width: 100%;
        }
         
        #iframeindex{
        width: 100%;
        height: 300px;
        
        }
        
/***********pagina Espirituosas***********/
        .gridEspirituosas__texto{
          grid-template-columns: 1fr;
        }
  
        .gridEspirituosas__images{
          grid-template-columns: 1fr 1fr;
        }
        .recetasVideo{
          justify-content: center;
            p{
              width: 100%;
              line-height: 30px;
              text-align: justify;}
         }
  
/********************* VINOS **************/
        
        .img-fluid{
          margin: 10px 0px;
          }
        .productos {
          grid-template-columns: 1fr 1fr; 
            .productos__box{
              width: 13rem;
            }                  
           
          }
        

/**************PAGINA CONTACTO ************/
  
.contacto {
     .contacto__form{
            margin-right: 0px;
            margin-bottom: 25px;
             }
      .contacto__maps{
           margin-left: 0px;
           margin-bottom: 25px;
            } 
}
.newsLetter{
    margin-bottom: 20px;
    margin-top: 10px;
      div .forminputs{
      width: 70%;
      }
}
/*****footer**********/

          .footer {
                .footer__icontop .back_to_top{
                        animation: arrowup 2s linear 0s infinite; 
                        transition: all .3s;
                        color: $colorhover;
                        font-size: 2.2rem;
                              &:hover{
                                  animation:disabled
                              }
                              
                  }
                  .footer__redes{
                          display: flex ;
                          flex-flow: column wrap;
                          height: 8rem;
                          font-size:0.9rem;
                  }
          }
}
 
  /**************************480px**********************/
@media only screen and (max-width: 480px) {
  
  // Comun a todas los HTML

  $anchoDivTitulo:175px; 
  .fondoTituloHome,.fondoTituloVinos,.fondoTituloEspirituosas,.fondoTituloPromociones,.fondoTituloContacto  {
    height: $anchoDivTitulo;
  }

  h1 {
    font-size: 2.2rem;
  }
       
  .footer {
  
        .footer__redes{
        font-size:0.8rem;
          div p {
            margin-left:8px;
          }
        
        }
        .footer__icontop .back_to_top{
            font-size: 2rem;
            color: $colorhover;
            }
    }
                 
  /****************INDEX*******************/
  
  /******Menu Hamburguesa mas pequeño******/
  
  .navbar-light .navbar-toggler-icon {
   width: 2em;
  }

  /******Menu Hamburguesa mas pequeño******/

      #HomeH1Anim{
      animation: translateh1 1s linear .2s;
      }
     @keyframes translateh1 {
      0% {transform: scale(1.0);}
      50% {transform: scale(1.2);}
      100% {transform: scale(1.0);}
      }
  
      section article img{
              width: 100%;
      }
      section iframe{
              width: 100%;
      }

      .tarjetas{
        width: 90%;
        min-width: 0;
        margin: 20px 0px;
    }

      .envios .envios__imag{
        display: flex;
        justify-content: space-evenly;
        flex-flow: row nowrap;
            img{
              width: 32%;
            }
      }

      /*********** pagina Contacto**************/
  
        
      .newsLetter{
          margin-bottom: 20px;
          margin-top: 10px;
            div .forminputs{
              width: 80%;}
        }
        
      /******* Fin pagina Contacto ****/
  
      /*************** Pagina Espirituosas****************/
      .gridEspirituosas__texto{
          grid-template-columns: 1fr;
        }
  
      .gridEspirituosas__images{
          grid-template-columns: 1fr;
        }
      .recetasVideo p{
          line-height: 30px;
          text-align: justify;
        }

        /**************pagina vinos***************/
        .vinos .vinos__infoImagenes{
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 20px;
          align-content: center;
          height: auto;

              img{
                width: 95%;
                height: 95%;
                }
              iframe{
                width: 95%;
                height: 250px;
              }
         }
        .productos{
           display: grid;
           grid-template-columns: 1fr;
        }
}