@import "variables";
@import "contacto";
@import "espirituosas";
@import "promociones";
@import "vinos";
@import "footer";
@import "header";

 /* inicio clases generales */
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
  }
  
body{
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
  }
  
.contenedor{
      width: $ancho93;
      margin: 0 auto;
    }
  
main{
      margin: 0rem;
  }
  
  p{
      line-height: 1.7rem;
  }
    
  h1 {
      color:$colorh1;
      font-size: 2.4rem;
      font-weight: 600;
      font-style: oblique;
      text-transform: uppercase;
      
      
     
    }
  
  .textoDerecha{
      text-align: right;
  
  }
  
  .center{
      text-align: center;
      
  }

  .margintopbott{
      margin-top: 30px;
      margin-bottom: 40px;
  }
    
  section article p, section p{
      text-align: justify;
  }
  
  h2{
      margin-top: 25px;
      margin-bottom:25px;
          
  }
   h3{
      margin-top: 15px;
      margin-bottom: 15px;
  
  }
  h4{
      margin-top: 10px;
      margin-bottom: 10px;
      
  }
    
  /* fin clases generales */
  
  /************** INDEX *********************/
  
  .fondoTituloHome{
    background-image: url(../img/home/fondohome2.jpg);
    background-position:center;
    background-attachment: fixed;
    width: 100%;
    height: $anchoDivTitulo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}

.descarga {
    width: 100%;
    display: flex;
    justify-content: center;
    
       .descarga__bot{
        margin: 0px 30px;
        background-color: $colornavegador;
        padding:  5px;
        text-decoration: none;
        color:white;
        border: 2px solid black;
            i{
                margin-right: 5px;
            }
        }

  
        .descarga__bot:hover {
            color:$colorhover ;
        
        }  
    
    
        
}


.carouselSize div img{
    height: 90%;
    width: 90%;
   }

.flex {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin:40px auto;
    p{
        width: 40%;
        margin: 30px;
        line-height: 30px;
        text-align: justify;

    }
}

#imghome1{
    width: 40%;
    
}

#imghome2{
    width: 40%;

}
#iframeindex{
    width: 40%;
    height: 300px;
}

.tarjetas{
    width: 40%;
}
.titulomedios{
    background-color: $colornavegador;
    color: white;
}


  /*****************************MEDIA QUERYS***************************************/
  /*****************************MEDIA QUERYS***************************************/
  
  
  @media only screen and (max-width: 767px) {
  
    //   header nav ul{
    //       flex-direction:column;
    //   }
    //   header nav ul li:hover ul{
    //       display: none;
    //   }
  
    //   header nav ul li{
    //       display: flex;
    //       flex-direction: column;
  
    //   }
  
    //   header nav ul li{
  
    //       width:100%;
    //       margin-right:0;
    //   }
  
      
      .activo{
          text-decoration: underline;
          color: white;
      }
  
      
      .header__barrasuperior{
          background-color: #3a2114;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content:center;
          align-items: center;
          }
  
      .footer .footer__redes{
          height: 8rem;
          padding: 0rem;
          background-color:#3a2114;
          color:white;
          font-size:1rem;
          display: flex ;
          flex-flow: column wrap;
          justify-content:center;
          align-items:center;
      }
      
      section article img{
              width: 100%;
      }
      section iframe{
              width: 100%;
      }
  
      

      .flex{
          justify-content: center;
          p{
            width: 100%;
            margin: 30px;
            line-height: 30px;
            text-align: justify;}
      }

   
      #header__logo{
          display: none;
      }   
      #header__logonav{
          width:6rem;
          padding:2px;
          display: flex;
      } 

      .carouselSize div img{
        height: 100%;
        width: 100%;
        
    }
            
      #imghome1{
          width:100%;
         
      }
      
      #imghome2{
          width: 100%;
         
      }
      #iframeindex{
          width: 100%;
          height: 300px;
        
      }
  
   
      /***********pagina Espirituosas***********/
      .gridEspirituosas__texto{
          grid-template-columns: 1fr;
      }
  
      .gridEspirituosas__images{
          grid-template-columns: 1fr 1fr;
      }
  
      /********************* VINOS **************/
      .vinos .vinos__infoImagenes{
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 30px;
          justify-content: center;
          align-content: center;
          height: auto;
      }

      .img-fluid{
          margin: 10px 0px;
          
      }
  
      /**************PAGINA CONTACTO ************/
  
    .contacto__form{
          margin-right: 15px;
          margin-bottom: 25px;
      }
      
    .contacto__maps{
          margin-left: 15px;
          margin-bottom: 25px;
      }
  
    .newsLetter{
          margin-bottom: 20px;
          margin-top: 10px;
           div .forminputs{
            width: 70%; }
         }
     
/*****footer**********/

    .footer .footer__icontop .back_to_top{
            animation: arrowup 2s linear 0s infinite; 
            transition: all .3s;
            color: $colorhover;
            font-size: 2.2rem;
                :hover{
                    animation:disabled
                }
                
            }
}
  
  /**************************480px**********************/
  @media only screen and (max-width: 480px) {
  
        
      .activo{
          text-decoration: underline;
          color: white;
  
      }
  
      
      .header__barrasuperior{
          background-color: #3a2114;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content:center;
          align-items: center;
          height: 50px;
          }
  
      
      .footer {
      
            .footer__redes{
            height: 8rem;
            padding: 0rem;
            background-color:#3a2114;
            color:white;
            font-size:1rem;
            display: flex ;
            flex-flow: column wrap;
            justify-content:center;
            align-items:center;
            }
            .footer__icontop .back_to_top{
                font-size: 2rem;
                color: $colorhover;
                }
        }

              
  /****************INDEX*******************/
  
      #header__logowebhome{
      animation: translatelogoweb 1s linear .2s;
      }
     @keyframes translatelogoweb {
      0% {transform: scale(1.0);}
      50% {transform: scale(1.2);}
      100% {transform: scale(1.0);}
      }
  
      #header__logo{
          display: none;
      }    
  
      #header__logonav{
          width:5rem;
          padding:2px;
          display: flex;
      } 
   
      .flex p{
      
          width: 100%;
          margin: 10px;
          line-height: 30px;
          text-align: justify;
        }
      section article img{
              width: 100%;
      }
      section iframe{
              width: 100%;
      }
  
      /*********** pagina Contacto**************/
  
      .contacto__form{
          margin-right: 15px;
          margin-bottom: 25px;
      }
      
      .contacto__maps{
          margin-left: 15px;
          margin-bottom: 25px;
      }
  
      .newsLetter{
          margin-bottom: 20px;
          margin-top: 10px;
          div .forminputs{
            width: 80%;}
        }
        
      /******* Fin pagina Contacto ****/
  
      /*************** Pagina Espirituosas****************/
      .gridEspirituosas__texto{
          grid-template-columns: 1fr;
        }
  
      .gridEspirituosas__images{
          grid-template-columns: 1fr;
        }
    }